<div class='head'>
  <p>
    {{#if prependOASIS}}
      <a href='http://www.oasis-open.org/'><img src='/js/oasis/images/OASIS.jpg' alt='OASIS'/></a>
    {{/if}}
  </p>
  <h1 class='title p-name' id='title'{{#if doRDFa}} property='dcterms:title'{{/if}}>{{title}}</h1>
  {{#if subtitle}}
    <h2 {{#if doRDFa}}property='bibo:subtitle' {{/if}}id='subtitle'>{{subtitle}}</h2>
  {{/if}}
  <h2 {{#if doRDFa}}property="dcterms:issued" datatype="xsd:dateTime" content="{{publishISODate}}"{{/if}}>{{#if prependOASIS}}OASIS {{/if}}{{textStatus}} <time class='dt-published' datetime='{{dashDate}}'>{{publishHumanDate}}</time></h2>
  <dl>
    {{#unless isNoTrack}}
      <dt>This version:</dt>
      <dd><a class='u-url' href='{{thisVersion}}'>{{thisVersion}}</a></dd>
      <dt>Latest published version:</dt>
      <dd>{{#if latestVersion}}<a href='{{latestVersion}}'>{{latestVersion}}</a>{{else}}none{{/if}}</dd>
    {{/unless}}
    {{#if edDraftURI}}
      <dt>Latest editor's draft:</dt>
      <dd><a href='{{edDraftURI}}'>{{edDraftURI}}</a></dd>
    {{/if}}
    {{#if testSuiteURI}}
      <dt>Test suite:</dt>
      <dd><a href='{{testSuiteURI}}'>{{testSuiteURI}}</a></dd>
    {{/if}}
    {{#if implementationReportURI}}
      <dt>Implementation report:</dt>
      <dd><a href='{{implementationReportURI}}'>{{implementationReportURI}}</a></dd>
    {{/if}}
    {{#if isED}}
      {{#if prevED}}
        <dt>Previous editor's draft:</dt>
        <dd><a href='{{prevED}}'>{{prevED}}</a></dd>
      {{/if}}
    {{/if}}
    {{#if showPreviousVersion}}
      <dt>Previous version:</dt>
      <dd><a {{#if doRDFa}}rel="dcterms:replaces"{{/if}} href='{{prevVersion}}'>{{prevVersion}}</a></dd>
    {{/if}}
    {{#if prevRecURI}}
      {{#if isRec}}
          <dt>Previous Recommendation:</dt>
          <dd><a {{#if doRDFa}}rel="dcterms:replaces"{{/if}} href='{{prevRecURI}}'>{{prevRecURI}}</a></dd>
      {{else}}
          <dt>Latest Recommendation:</dt>
          <dd><a href='{{prevRecURI}}'>{{prevRecURI}}</a></dd>
      {{/if}}
    {{/if}}
    <dt>Editor{{#if multipleEditors}}s{{/if}}:</dt>
    {{showPeople "Editor" editors}}
    {{#if authors}}
      <dt>Author{{#if multipleAuthors}}s{{/if}}:</dt>
      {{showPeople "Author" authors}}
    {{/if}}
    {{#if otherLinks}}
      {{#each otherLinks}}
        {{#if key}}
          <dt {{#if class}}class="{{class}}"{{/if}}>{{key}}:</dt>
          {{#if data}}
             {{#each data}}
                {{#if value}}
                  <dd {{#if class}}class="{{class}}"{{/if}}>
                    {{#if href}}<a href="{{href}}">{{/if}}
                      {{value}}
                    {{#if href}}</a>{{/if}}
                  </dd>
                {{else}}
                  {{#if href}}
                    <dd><a href="{{href}}">{{href}}</a></dd>
                  {{/if}}
                {{/if}}
             {{/each}}
          {{else}}
            {{#if value}}
              <dd {{#if class}}class="{{class}}"{{/if}}>
                {{#if href}}<a href="{{href}}">{{/if}}
                  {{value}}
                {{#if href}}</a>{{/if}}
              </dd>
            {{else}}
              {{#if href}}
                <dd {{#if class}}class="{{class}}"{{/if}}>
                  <a href="{{href}}">{{href}}</a>
                </dd>
              {{/if}}
            {{/if}}
          {{/if}}
        {{/if}}
      {{/each}}
    {{/if}}
  </dl>
  {{#if errata}}
    <p>
      Please refer to the <a href="{{errata}}"><strong>errata</strong></a> for this document, which may include some normative corrections.
    </p>
  {{/if}}
  {{#if alternateFormats}}
    <p>
      {{#if multipleAlternates}}
        This document is also available in these non-normative formats:
      {{else}}
        This document is also available in this non-normative format:
      {{/if}}
      {{{alternatesHTML}}}
    </p>
  {{/if}}
  {{#if isStd}}
    <p>
      The English version of this specification is the only normative version. Non-normative
      translations may also be available.
    </p>
  {{/if}}
  <hr/>
</div>
