<section id='sotd' class='introductory'><h2>Status</h2>
  {{#if isUnofficial}}
    <p>
      This document is merely a public working draft of a potential committee specification. It has
      no official standing of any kind and does not represent the support or consensus of any
      standards organization.
    </p>
    {{{sotdCustomParagraph}}}
  {{else}}
     {{#if isNoTrack}}
       <p>
         This document is merely a OASIS-internal {{#if isMO}}member-confidential{{/if}} document. It
         has no official standing of any kind and does not represent consensus of the OASIS
         Membership.
       </p>
       {{{sotdCustomParagraph}}}
     {{else}}
       <p>
         <em>This section describes the status of this document at the time of its publication.
         Other documents may supersede this document. A list of current OASIS publications can be found in the <a
         href='https://www.oasis-open.org/standards'>OASIS standards page</a> at
         https://www.oasis-open.org/standards.</em>
       </p>
       {{{sotdCustomParagraph}}}
       <p>
         This document was published by the {{{wgHTML}}} as {{anOrA}} {{longStatus}}.
         {{#if notYetRec}}
           This document is intended to become an OASIS Standard.
         {{/if}}
         {{#unless isPR}}
           If you wish to make comments regarding this document, please send them to 
           <a href='mailto:{{wgPublicList}}@lists.open-oasis.org{{#if subjectPrefix}}?subject={{subjectPrefix}}{{/if}}'>{{wgPublicList}}@lists.open-oasis.org</a> 
           <!-- <a href='mailto:{{wgPublicList}}-request@lists.open-oasis.org?subject=subscribe'>subscribe</a>, -->
           (<a
             href='https://lists.oasis-open.org/archives/{{wgPublicList}}/'>archives</a>){{#if subjectPrefix}}
             with <code>{{subjectPrefix}}</code> at the start of your email's subject{{/if}}.
         {{/unless}}
         {{#if isLC}}The Last Call period ends {{humanLCEnd}}.{{/if}}
         {{#if isCR}}
           OASIS publishes a Committee Specification Public Review Draft to indicate that the document is believed to be
           stable and to encourage implementation by the developer community. This Committee Specification
           Public Review Draft is expected to advance to Committee Specification no earlier than
           {{humanCREnd}}.
         {{/if}}
         {{#if isPR}}
             The OASIS Membership and other interested parties are invited to review the document and
             send comments to
             <a rel='discussion' href='mailto:{{wgPublicList}}@lists.open-oasis.org'>{{wgPublicList}}@lists.open-oasis.org</a> 
             <!-- <a href='mailto:{{wgPublicList}}-request@lists.open-oasis.org?subject=subscribe'>subscribe</a>,  -->
             (<a href='https://lists.oasis-open.org/archives/{{wgPublicList}}/'>archives</a>)
             through {{humanPREnd}}. Advisory Committee Representatives should consult their
             <a href='https://www.w3.org/2002/09/wbs/myQuestionnaires'>WBS questionnaires</a>. 
             Note that substantive technical comments were expected during the Last Call review
             period that ended {{humanLCEnd}}.
         {{else}}
           All comments are welcome.
         {{/if}}
       </p>
       {{#if implementationReportURI}}
         <p>
           Please see the Technical Committee's  <a href='{{implementationReportURI}}'>implementation
           report</a>.
         </p>
       {{/if}}
       {{#if notRec}}
         <p>
           Publication as {{anOrA}} {{textStatus}} does not imply endorsement by the OASIS
           Membership. This is a draft document and may be updated, replaced or obsoleted by other
           documents at any time. It is inappropriate to cite this document as other than work in
           progress.
         </p>
       {{/if}}
       {{#if isLC}}
         <p>
           This is a Last Call Working Draft and thus the Working Group has determined that this
           document has satisfied the relevant technical requirements and is sufficiently stable to
           advance through the Technical Recommendation process.
         </p>
       {{/if}}
       <p>
       {{#if addPatentNote}}<p>{{{addPatentNote}}}</p>{{/if}}
     {{/if}}
  {{/if}}
</section>
